* {
	font-size: 15px;
}

.left {
	float: left;
	width: 50%;
}

#codeInput {
	height: 580px;
	/*width: 350px;*/
	width: 90%;
	padding: 5px;
	background: #272822;
	color: white;
	overflow-y: scroll;
}

#codeOutput {
	display: block;
	padding: 5px;
	height: 580px;
	/*width: 350px;*/
	background: #272822;
	color: white;
	overflow-y: scroll;
}

.right {
	float: right;
	width: 50%;
	height: 600px;
}

#error {
	color: red;
}

p {
	margin: 0;
}

.red {
	color: #E52369;
}

.blue {
	color: #66D9EF;
}

.yellow {
	color: #E6DB74;
}

.green {
	color: #6DC62B;
}

.orange {
	color: #D96D1F;
}

.purple {
	color: #9E75E8;
}

.gray {
	color:#75715E;
}